p, h2{
    padding: 5px;
}


:root{
    --star-size: 20px;
    --user-img-size: 100px;
}


.star-no-premium, .star-premium{
    background-color: white;
    text-align: center;
    color: rgba(74, 74, 74, 0.2);
    font-size: calc((2 / 3) * var(--star-size));
    border-radius: 50%;
    width: var(--star-size);
    height: var(--star-size - calc(var(--star-size) / 2,5));
    padding-top: calc(var(--star-size) / 7);
    padding-bottom: calc(var(--star-size) / 5);
    position: absolute;
    bottom: calc(var(--star-size) / 2 * (-1)); 
}

.star-premium{
    color: gold;
}

.user-image-with-star{
    padding-top: 10px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.user-img{
    width: var(--user-img-size);
    height: var(--user-img-size);
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
}

.user-card{
    flex: 1 1 200px;
    box-shadow: 0 0 2px grey;
    min-width: var(--user-img-size);
    max-width: 300px;
    text-align: center;
    border-radius: 30px;
    margin: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bg-header{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-bottom: 10px;
}

.h2-header{
    font-weight: bold;
}


.work-price, .user-life-place, .info-about-user{
    color: rgb(102, 102, 102);
}

.bg-main{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, white, rgba(121, 121, 121, 0.1));
    gap: 10px;
}

.user-name{
    padding-top: 20px;
    font-weight: bold; 
}


.info-about-user{
    font-weight: 100;
    font-size: 0.8rem;
    max-width: 200px;
}
.btn-view-cv{
    margin-top: auto;
    min-width: 200px;
    min-height: 50px;
    background-color: white;
    color: rgb(90, 90, 255);
    border: 2px solid rgb(90, 90, 255);
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.1rem;
}

.btn-make-offer{
    min-width: 200px;
    min-height: 50px;
    background-color: rgb(90, 90, 255);
    color: white;
    border: 2px solid rgb(90, 90, 255);
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.1rem;
}


body{
    display: flex;
    flex-wrap: wrap;
}